@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Sacramento&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
body{
  font-family: "Roboto Condensed" sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**************NavBar**************/
nav{
  z-index: 2;
}
.logo{
  width:4.25rem;
  margin-top: 0.3rem;
}
/*************Menu Links************/
 nav a.nav-link{
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
 }
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}


.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
/******************Header*************************/

.header-wraper{
  position: relative;
  background: url(wall-and-laptop-background.jpg) no-repeat;
  background-color: cover;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width:100%;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-orange);
  font-size: 6rem;
  font-family: "Sacramento";
}
.main-info h3{
  color: var(--primary-white); 
  font-family: "Roboto Condensed" sans-serif;
}

/********TYPED TXT**********/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
  
} 

@media(max-width: 768px){
  .main-info h1{
    font: size 1.7rem !important;
  }
  .main-info h3{
    font: size 1.8rem !important;
  }
  .typed-text{
    font-size:1.8rem !important;
  }
}

/*******HEADER MAIN OFFER BUTTON******/
.btn-main-offer{
  border: 0.0625rem solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 1s ease-in-out;
}

/* *******PARTICLES*********
.tsparticles-canvas-e1{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
} */